/* facebook and login button stylesheet */
/* *{
    font-family: Courier New;
}
h1{
    color: #1b74e4;
    background-color: black;
    margin: 2px;
    border-width: 5px;
    display: inline-block;
}
.hii{
    background-color: aqua;
}
#Search{
    background-color: black;
    color: white;
} */

/* traffic light style sheet */
 /* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
 }
 .in{
    height: 50px;
    width: 50px;
    border: 2px;
    border: 2px solid black;
    margin: 10px;
    border-radius:50% ; 
 }
 #red{
    background-color: red;
 }
 #red:hover{
    background-color: greenyellow;
    transition-duration: 2s;
 }

 #yellow{
    background-color: yellow;
 }

 #green{
    background-color: green;
    padding: 5px;
    box-shadow: 2px 5px 10Px ;
 } */

h3{
    color: purple;
}
h1{
    color: #b92b27;
}
#login{
    color: greenyellow;
    background-color: #b92b27;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hii{
    font-weight: 400;
    font-weight: bolder; text-shadow: 1px 1px 5px black;
    text-decoration: none;
    color: #b92b27;
}
#Hii{
    color: orange;
}
.upvote{
    color: #b92b27;
    background-color: rgb(200, 142, 33);
}
#myid{
    color: green;
}
p a{
    color: #b92b27;
}
input[type="text"]{
    background-color: rgba(0, 0, 0, 0.283);
    color: red;
} 
input[type="password"]{
    background-color: rgba(0, 0, 0, 0.283);
    color:green;
} 
button:hover{
    background-color: yellow;
    color: black;
}
#login:hover{
    font-weight: 600;
    background-color: yellow;
    color: black;
}
.upvote:active{
    background-color: #b92b27;
}
input[type="radio"]:checked+label{
    color: #b92b27;
}
#Quora::first-letter{
    color: rgb(111, 206, 59);
}
#signup:hover{
    background-color: #b92b27;
}
#signup{
    background-color: greenyellow;
}
#signup:active{
    background-color: blue;
}