div{
   border: solid black 1px;
   display:flex;
   flex-direction: row;
   width: 500px;
   height: 50px;
   display:flex;
   flex-direction: row;
   text-align: center;
   align-items: center;
   justify-content: space-around;
}
h2{
   text-align:center;
   color: brown;
}
.hii {
   border: solid black 2px;
   height: 500px;
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}