*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar nav{
  height:4em;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* border-radius: 10px; */
  position:fixed;
  z-index: 99;
}
.navbar nav img{
  width: 60px;
  height:30px;
  padding-left: 30px;
}
.name{
  color: #2751A3;
  margin-left: 5px;
  font-weight:900;
}

.family{
  color: #f97425;
  /* font-size: 20px; */
  margin-left: 2px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
.navbar nav ul a{
  text-decoration:none;
}
.navbar nav ul a:hover{
  color: #f97425 ;
}
.call{
  display: flex;
  align-items: center;
  gap: 20px;
}
.login{
  display: flex;
  align-items: center;
  padding-right: 50px;
  gap: 10px;
}
.login a{
  text-decoration: none;
}
.navbar nav button {
  /* background-color: #f97425; */
  /* border-radius: 10px; */
  text-decoration: none;
}
.navbar nav button a{
  text-decoration: none;
}

.page1{
  /* border: 1px solid black; */
  width: 100%;
  height: 70vh;
  background-image: url(https://static.wixstatic.com/media/7d7c19_fad9bbe9959a416dbf1742408dc9c4c3~mv2.jpg/v1/fill/w_1720,h_700,al_l,q_85,enc_avif,quality_auto/7d7c19_fad9bbe9959a416dbf1742408dc9c4c3~mv2.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1child0{
  width: 100%;
  height: 100%;
  background-color: #0b2f762f;
  position: absolute;
  z-index: 50;
}
.bio {
  text-align: center;
  margin-top: 150px; 
}

.page1child1 {
  font-size: 50px;
  color: white;
}


.page1child2 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.847);
}

.Appoitmentbutton {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  background-color:#f97425;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 88;
}
.Appoitmentbutton:hover{
  background-color: #0e09979e;
  transition: 2s ease-in-out ;
  transform:scale(1.1);
  box-shadow: 5px 5px 50px 0.2px #f97425;
}
.page2{
  /* border: 1px solid black; */
  width: 50%;
  height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}
.readmore{
  border-radius: 50px;
  background-color: #f97425;
  /* font-size: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-color: transparent;
}
.readmore a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.547);
}
.page2 h1{
  color: #f97425;
}
.section{
  display: flex;
}

.page3{
  width: 50%;
  height: 800px;
  /* border: 1px solid black; */
  background-image: url(https://static.wixstatic.com/media/2e2a49_14909b1645e64ac794ab5bbf11400604~mv2_d_2927_2671_s_4_2.jpg/v1/fill/w_1470,h_1670,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/2e2a49_14909b1645e64ac794ab5bbf11400604~mv2_d_2927_2671_s_4_2.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.page4 p{
  padding-top: 5%;
  font-size: 50px;
}

.page4 {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(242, 240, 240); 
  z-index: 1;
}

.page4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 215, 215, 0.191);
  z-index: 2;
  pointer-events: none;
}

#service{
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns:auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  position:inherit;
}
.services{
  /* border: 1px solid black; */
  width: 250px;
  height: 300px;
  background-color:rgb(255, 255, 255);
}
.img1{
  background-image: url(https://static.wixstatic.com/media/84770f_b40688baacb94ae69a406f3e5f723454~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_b40688baacb94ae69a406f3e5f723454~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img2{
  background-image: url(https://static.wixstatic.com/media/84770f_70a89b7a005f4418af69b0c1336e77d2~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_70a89b7a005f4418af69b0c1336e77d2~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img3{
  background-image: url(https://static.wixstatic.com/media/84770f_2305a8d2dc1a42c9b54b061ef029aeab~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_2305a8d2dc1a42c9b54b061ef029aeab~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img4{
  background-image: url(https://static.wixstatic.com/media/84770f_2a3e6d6a95704018aa6a1d4e21622522~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_2a3e6d6a95704018aa6a1d4e21622522~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img5{
  background-image: url(https://static.wixstatic.com/media/84770f_0508f3ea54a34d95918fbdb8d83ff95a~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_0508f3ea54a34d95918fbdb8d83ff95a~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img6{
  background-image: url(https://static.wixstatic.com/media/84770f_7ae720c595844d948c52e66456ca014a~mv2.jpg/v1/fill/w_477,h_320,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_7ae720c595844d948c52e66456ca014a~mv2.jpg);
  width: 100%;
  height:50%;
  /* border: 1px solid black; */
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow:hidden;
}
.img1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img1:hover::after {
  background-color: rgba(99, 98, 98, 0.5);
}
.img2::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img2:hover::after {
  background-color: rgba(99, 98, 98, 0.5);
}
.img3::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img3:hover::after {
  background-color: rgba(99, 98, 98, 0.5); 
} 
.img4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img4:hover::after {
  background-color: rgba(99, 98, 98, 0.5);
}
.img5::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img5:hover::after {
  background-color: rgba(99, 98, 98, 0.5);
}
.img6::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease;
}

.img6:hover::after {
  background-color: rgba(99, 98, 98, 0.5); 
}
.services  p{
  font-size: 20px;
  padding-left: 10%;
}
.services  p a{
  text-decoration: none;
  color:rgb(89, 88, 88);
}
.booknow{
  margin-top: 30px;
  margin-left: 30px;
  color: #f97425;
  border-color: #f97425;
  border-radius: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.booknow p a{
  text-decoration: none;
}
.booknow:hover{
  background-color: rgb(89, 88, 88);
  border-color:chartreuse;
}
.moreservice{
  margin-top: 200px;
  background-color: #f97425;
  border-radius: 10px;
  padding:5px 5px 5px 5px;
  transition: all 0.5s ease-in;
}
.moreservice a{
  text-decoration: none;
  padding-bottom: 3px;
  padding-top: 3px;
  color: white;
}
.moreservice:hover{
  background-color:#2751A3;
  color: black;
  font-style: italic;
}
#page5{
  width:100%;
  height: 50vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content:space-around;
}
.container1{
  /* border: 1px solid black; */
  width: 90%;
  height: 35vh;
  margin-top: 5%;
  background-image: url(https://static.wixstatic.com/media/84770f_90d8d3cd6e474d73acbcd4feb20796c7~mv2_d_5424_1498_s_2.jpg/v1/fill/w_2685,h_587,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_90d8d3cd6e474d73acbcd4feb20796c7~mv2_d_5424_1498_s_2.jpg);
  background-position:center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 h1{
  font-size: 40px;
  color: white;
}
.page6{
  /* border: 1px solid black; */
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.page6 h1{
  margin-top: 50px;
  font-size: 35px;
  color: #2751A3;
}
.page6container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page6child2 {
  margin-top: 10px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.624);
  font-weight: 100;
}
.page6child3{
  display: flex;
  flex-wrap: wrap;
  width :58%;
  color: rgba(0, 0, 0, 0.464);
  font-weight: 100;
  margin-top: 50px;
}
.page7{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
  height: 90vh;
}
.page7child1{
  width:80%;
  height: 0;
  border: 0.2px solid rgba(0, 0, 0, 0.333);
}
#bar{
  position: absolute;
  top: 2%;
  left  : 2%;
  right: 2%;
  font-size: 30px;
  z-index: 10;
  display: block;
}
#check{
  display: none;
}

@media(max-width:430px){
  .navbar nav ul{
  display: none;
} 
.call{
  display: none;
}
.login{
  display: none;
}
.page1{
  width:100% ;
  height: 50vh;
}
#check{
  display: none;
}
#bar{
  display: block;
  position: absolute;
  z-index: 100;
}
.navbar nav{
  position: relative;
  z-index: 10;
}
#check:checked~.navbar nav ul{
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: #2751A3;
  text-align: center;
  line-height: 30px;
  z-index: 100;
}
#check:checked~.navbar nav ul li a {
  color: #f97425;

}
.logo{
margin-left:20px ;
}
}