* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent {
    height: 700px;
    width: 1250px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
    gap: 50px;
    background-image: url(https://images.unsplash.com/photo-1618641662184-bafefb91a542?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwYmxhY2slMjBsaW9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
}

.child {
    height: 500px;
    width: 300px;
    border: 1px solid black;

}

.grandChild {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.grandChild1 {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(240, 0, 120);
    display: flex;

}

.grandChildImg {
    height: 100%;
    width: 100%;
}

.grandChildH4 {
    color: darksalmon;
    text-align: center;
    margin-top: 20px;
}

#smallContainer {
    background-color: orange;
}

#smallContainer1 {
    background-color: green;
}

.son {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
p {
    text-align: center;
} */

/* #navbar {
    width: 1340px;
    height: 60px;
    background-color: black;

}

#navbar img {
    height: 30px;
    width: 30px;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
} */